
.header {
  width: 200px;
}

.spinner {
  display: inline-block;
}

.reload {
  margin-right: 20px;
  // width: 100px;
}

tr {
  height: 30px
}

mat-radio-group {
  mat-radio-button {
    width: 400px;
    margin: 5px;
  }
}

.combined {
  display: inline-block;
}